.form {

    &__heading {
        font-size: 20px;
    }

    &__wrapper {
        margin-top: 20px;
        &--hide {
            display: none;
        }
    }

    &__input {
        padding: 9px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-sizing: border-box;
        margin-top: 10px;
    }

    &__error {
        color: red;
        margin-top: 10px;

        &--hide {
            display: none;
        }
    }
}