//==============================================================================
//  Colors
//==============================================================================

@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,500');

//==============================================================================
//  Colors
//==============================================================================

$white: #fff;
$black: #000;
$red: #e51e1a;
$salmon: #fa8072;


//temp
$darkgray: #221e1f;
$blacktransparent: rgba(0, 0, 0, .5);
$black-overlay: rgba(37, 34, 35, .98);
$yellow: #fff300;

//==============================================================================
//  Breaking points
//==============================================================================

$small-phone-width: 320px;
$phone-landscape-width: 480px;
$phablet-width: 670px;
$tablet-width:  768px ;
$desktop-width: 1024px;
$desktop-medium-width: 1280px;
$desktop-large-width: 1440px;
$desktop-xlarge-width: 1920px;

//==============================================================================
//  Padding
//==============================================================================

$side-padding: 25px;

//==============================================================================
//  Font-size
//==============================================================================

$base: 15px;
